[submodule "benchmarks/wrk"]
	path = benchmarks/wrk
	url = https://github.com/wg/wrk.git
[submodule "benchmarks/python_sysbench"]
	path = benchmarks/python_sysbench
	url = https://github.com/NicholasRasi/python_sysbench.git
